#page-rendering-test
    #content-wrap
        padding: 0 60px
        max-width: 800px
        input[type="number"]
            width: 3em
            border-bottom: 1px solid $color-art
        .button
            padding: 8px
            margin-right: 10px
            border-radius: 2em
            display: inline-block
            color: #FFF
            transition: all 0.15s ease
            box-sizing: border-box
            text-decoration: none
            background: $color-art
            cursor: pointer