<div id="header">
  <a id="logo" href="<%- theme.root%>">
    <!--<img src="/images/logo.png">-->
    <span>art-template</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
